.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: auto;
}

button:active {
  background-color: rgb(4, 92, 4);
}